<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('login') }}">
        {{ form.csrf_token }}
        <div class="form-group">
            <label for="username">Username</label>
            {{ form.username(class="form-control", placeholder="Enter username") }}
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            {{ form.password(class="form-control", placeholder="Enter password") }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form> 
    
    <!-- <form method="POST" action="{{ url_for('login') }}">
        {{ form.csrf_token }}
        <label for="username">Username:</label>
        {{ form.username(size=20) }}
        <br>
        <label for="password">Password:</label>
        {{ form.password(size=20) }}
        <br>
        <button type="submit">Login</button>
    </form> -->
    <a href="{{ url_for('home') }}">Back to Home</a>
</body>
</html>








<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2> -->



     <!-- {% with messages = get_flashed_messages() %} --> -->
        <!-- {% if messages %} -->
            <!-- <ul>
                {% for message in messages %}
                <li>{{ message }}</li> -->
                <!-- <li style="color: {% if 'danger' in message %}red{% else %}green{% endif %};">{{ message }}</li> -->
                <!-- <li>{{message}}</li> -->
                <!-- {% endfor %}
            </ul>
        {% endif %}
    {% endwith %} -->





    <!-- <form method="POST" action="{{ url_for('login') }}">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <label for="username">Username:</label>
        {{ form.username }}
        <br>
        <label for="password">Password:</label>
        {{ form.password }}
        <br> -->



        <!-- <label for="role">Role:</label>
        {{ form.role }} -->



        <!-- <br>
        <button type="submit">Login</button>
        
    </form>
    <a href="{{ url_for('home') }}">Back to Home</a>
</body>
</html> -->
 